.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  width: 25vmin;
  pointer-events: none;
}

/* src/App.css */

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.weplay-cartoon-1 {
  font-family: 'Bangers', cursive;
  font-size: 2em;
  color: #61c0ff ;
  text-shadow: 2px 4px 0px #4CAF50;
  letter-spacing: 2px;
  /*transform: rotate(-3deg);*/
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;
    animation: alternate;
    animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
